html,body {
    height: 100%;
    background-color: black;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'mobile_fontregular'
}

h1 {
    text-align: center;
    font-size: 80px;
    margin: -10px 0 -30px;
    color: goldenrod;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.panel {
    width: 600px;
    height: 600px;
    display: none;
    border: 4px darkgoldenrod dashed;
    color: gold;
    text-align: center;
    margin-top: 0 auto;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.witch {
    height: 80px;
    margin-top: 20px;
    margin-bottom: -20px;
    animation: blink 1.8s;
    animation-iteration-count: infinite;
}

.holder {
    margin-top: 20%;
    font-size: 80px;
}

#start {
    background-color: black;
}

#win {
    background-color: black;
}

#lose {
    background-color: black;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 578px;
    padding: 10px;
    border: 4px darkgoldenrod dashed;
    margin-left: 30px;
    background-color: black;
}

.instructions {
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    width: 80%;
    line-height: 30px;
}

p {
    font-size: 20px;
}

aside > div > h2 {
    font-size: 30px;
    color: goldenrod;
    margin-top: 50px;
    margin-bottom: 50px;
}

aside > div > div {
    background-color: white;
    border: 1px goldenrod dashed;
    border-radius: 25px;
    padding: 20px;
    width: 50px;
    text-align: center;
    margin-top: 10px;

}

.button {
    box-sizing: border-box;
    margin-top: 80px;
    height: 300px;
}

#button {
    padding: 10px;
    border-radius: 25px;
    background-color: gold;
    border: 1px solid orange;
    font-size: 15px;
    margin-bottom: 60px;
    outline: none;
}

#button:hover {
    background-color:orange;
}

footer {
    text-align: center;
    color: goldenrod;
    margin-top: -40px;
}

a {
    text-decoration: none;
    color: gold;
}

canvas {
    border: 4px darkgoldenrod dashed;
}